<app-menu-component></app-menu-component>


<div class="row ">
    <div class="col-8 section bg-light ">
        <app-gestion-personas></app-gestion-personas>
    </div>
    <div class="col-3 form-filtro bg-light animate__animated animate__bounceInRight">
        <br>
        <br>
        <app-filtro-busqueda></app-filtro-busqueda>
    </div>
</div>
<!--<section class="bg-light">
    <app-gestion-personas></app-gestion-personas>
</section>

<div id="form-filtro" class="bg-light">

</div>-->
<div class="row">
    <footer class="row bg-light">
        <h5 style="margin-left: 87%;color: gray;">OLSoftware - 2020</h5>
    </footer>
</div>