<h3 style="float: left;margin-left: 30px;"> <i class="fas fa-search fa-1x"></i> Filtrar Busqueda</h3>



<app-formulario-persona [personaOL]="personaOL"></app-formulario-persona>

<div>

</div>
<br>
<div class="row">
    <button style="margin-left: 50px;margin-right: 20px;" type="button" class="btn btn-success col" (click)="filtrarPersonas()">Filtrar</button>
    <button style="margin-right: 50px;margin-left: 20px;" type="button" class="btn btn-outline-success col" (click)="iniciarPersonaLimpia()">Limpiar</button>
</div>